* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16538c;
  border-bottom: 3px solid black;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

li a:hover {
  background-color: #4cb4f5;
  font-weight: 700;
  color: black;
}
#MyElement {
  border-radius: 178px 0px 0px 178px;
  -moz-border-radius: 178px 0px 0px 178px;
  -webkit-border-radius: 178px 0px 0px 178px;
  background-color: #0289f7;
  margin-left: 65%;
  text-align: right;
  margin-top: 1px;
  padding: 7% 0;
}
#MyElement p {
  margin-left: 30%;
  margin-right: 10px;
}
#MyElement2 {
border-radius: 0px 178px 178px 0px ;
-moz-border-radius: 0px 178px 178px 0px ;
-webkit-border-radius: 0px 178px 178px 0px ;
text-align: left;
margin-top: 1px ;
padding: 7% 0;
background-color: #0289f7;
margin-right:65%;
}
#MyElement2 p{
  margin-right: 30% ;
  margin-left: 10px;
}