* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16538c;
}
header {
  border-bottom: 3px solid black;
  background-color: #16538c;
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

li a:hover {
  background-color: #4cb4f5;
  font-weight: 700;
  color: black;
}
#MyElement {
  border-radius: 178px 0px 0px 178px;
  -moz-border-radius: 178px 0px 0px 178px;
  -webkit-border-radius: 178px 0px 0px 178px;
  background-color: #0289f7;
  margin-left: 66.7%;
  text-align: right;
  margin-top: 1px;
  padding: 4% 0;
  display: none;
}
#MyElement p {
  margin-left: 30%;
  margin-right: 10px;
  color: #fff;
  font-size: 15px;
  margin: 1% 5% 0 20%;
}
#MyElement2 {
  border-radius: 0px 178px 178px 0px;
  -moz-border-radius: 0px 178px 178px 0px;
  -webkit-border-radius: 0px 178px 178px 0px;
  text-align: left;
  margin-top: 1px;
  padding: 4% 0;
  background-color: #0289f7;
  margin-right: 65%;
  display: none;
}
#MyElement2 p {
  margin-right: 30%;
  margin-left: 10px;
  color: #fff;
  font-size: 15px;
  margin: 1% 20% 0 5%;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

#MyElement button {
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  background-color: #263d5088;
  margin-top: 10px;
}
#MyElement2 a {
  text-decoration: none;
  color: white;
}
#MyElement a {
  text-decoration: none;
  color: white;
}

#MyElement2 button {
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  background-color: #263d5088;
  color: white;
  margin-top: 10px;
}

@media (min-width: 700px) {
  #MyElement p {
    font-size: 20px;
    padding-left: 25%;
  }
  #MyElement2 p {
    font-size: 20px;
    padding-right: 25%;
  }
  #MyElement2 button {
    width: 100px;
    height: 50px;
    font-size: 25px;
  }
  #MyElement button {
    width: 100px;
    height: 50px;
    font-size: 25px;
  }
  .card {
    width: 400px;
  }
  .card button {
    font-size: 16px;
  }
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 200px;
  transition: all 0.3s ease-out;
}
.card h2 {
  font-size: 20px;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}
.blue {
  border-left: 3px solid #4895ff;
  border-right: 3px solid #4895ff;
}

.green {
  border-left: 3px solid #3bb54a;
  border-right: 3px solid #3bb54a;
}

.red {
  border-left: 3px solid #b3404a;
}
.card button {
  border: none;
  float: right;
  margin-top: 8px;
  background-color: #4895ff;
  border-radius: 6px;
  padding: 2px;
}
.card button:hover {
  background-color: #16538c;
  transition-duration: 1s;
}
.card a {
  color: #fff;
  text-decoration: none;
}
