* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16538c;
  border-bottom: 3px solid black;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

li a:hover {
  background-color: #4cb4f5;
  font-weight: 700;
  color: black;
}
#MyElement {
border-radius: 178px 0px 0px 178px ;
-moz-border-radius: 178px 0px 0px 178px ;
-webkit-border-radius: 178px 0px 0px 178px ;
background-color: red;
margin-left: 65%;
text-align: right;
margin-top: 2px;
padding-bottom: 20%;
display: none;
}
